.works {
  margin-left: 24px;

  a {
    font-size: 36px;
  }
}

@media (min-width: 668px) {
  .works {
    a {
      font-size: 28px;
    }
  }
}

@media (min-width: 900px) {
  .works {
    a {
      font-size: 36px;
    }
  }
}

@media (min-width: 1200px) {
  .works {
    a {
      font-size: 48px;
    }
  }
}
