.works {
  margin-left: 24px;

  a {
    font-size: 28px;
    position: relative;
  }

  a:after {
    content: '';
    position: absolute;
    height: 4px;
    bottom: -2px;
    left: 0px;
    background: #272623;
    width: 80px;

    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.3s;
  }
  a:hover:after {
    width: 120px;
  }
}

@media (min-width: 668px) {
  .works {
    a {
      font-size: 28px;
    }
  }
}

@media (min-width: 900px) {
  .works {
    a {
      font-size: 36px;
    }
  }
}

@media (min-width: 1200px) {
  .works {
    a {
      font-size: 48px;
    }
  }
}
