div.container {
  margin: 0;

  h1,
  h2,
  h3,
  h4 {
    font-family: 'BNNord';
  }

  .text {
    text-align: justify;
    font-size: 16px;
    line-height: 24px;

    span {
      font-family: 'BNNord';
    }
  }
}
