.container {
  padding-left: 16px;
  padding-right: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1,
  h2,
  h3,
  h4 {
    font-weight: normal;
  }

  h1 {
    text-transform: uppercase;
    font-size: 42px;
    margin-top: 8px;
  }

  h2,
  p {
    padding: 0;
    margin: 0;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  svg {
    align-self: flex-start;
    font-size: 1.25rem;
    margin-top: 16px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      margin-top: 1rem;
    }

    .materials {
      margin-top: 0.5rem;
    }

    .size {
      margin-top: 0.2rem;
    }
  }
}
