.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1,
    h2,
    h3,
    h4,
    p {
      font-weight: normal;
    }

    .title {
      display: flex;
      flex-flow: row wrap;
      padding-left: 8px;
      padding-right: 8px;
      margin-top: 2rem;
      margin-left: 0;
      text-align: center;
    }

    .materials {
      margin-top: 0;
      margin-bottom: 8px;
    }

    .size {
      margin-top: 0;
      margin-bottom: 24px;
    }

    .imageWrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
      pointer-events: none;

      &:last-of-type {
        margin-bottom: 24px;
      }
    }
  }
}

@media only screen and (max-width: 384px) {
  .content {
    .container {
      .title {
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .imageContainer {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;

    .imageWrapper {
      flex: 1 0 400px;

      &:first-of-type {
        margin-right: 32px;
        margin-left: 32px;
      }
    }
  }
}
