.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  // margin-top: 150px;

  .copy {
    font-size: 0.7em;
    color: #989898;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    // display: none;
  }
}
