.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1,
  h2,
  h3,
  h4 {
    font-weight: normal;
  }

  h1 {
    text-transform: uppercase;
    font-size: 42px;
  }

  h2,
  p {
    padding: 0;
    margin: 0;
  }

  .header {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 4px;
  }

  svg {
    align-self: flex-start;
    font-size: 1.25rem;
    margin: 16px 16px 8px 16px;
    cursor: pointer;
  }
}
