.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1,
  h2,
  h3,
  h4 {
    font-weight: normal;
  }

  h1 {
    text-transform: uppercase;
    font-size: 42px;
  }

  h2,
  p {
    padding: 0;
    margin: 0;
  }

  .header {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 4px;
  }

  svg {
    width: 16px;
    align-self: flex-start;
    font-size: 1.25rem;
    margin: 16px 36px 8px 24px;
    cursor: pointer;
    transform: translateX(-50%);
  }
}

@media only screen and (min-width: 668px) {
  .container {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 8px;

    svg {
      margin: 16px 24px 8px 24px;
    }
  }
}

@media only screen and (min-width: 750px) {
  .container {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media only screen and (min-width: 900px) {
  .container {
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    margin: 16px 32px 16px 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    .icon {
      svg {
        margin-left: 32px;
      }
    }
  }
}
