.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  .menu {
    align-self: flex-end;
    margin-right: 1rem;
    font-size: 14px;
    margin-top: 16px;

    &:hover {
      cursor: pointer;
      user-select: none;
    }
  }
  .home {
    font-family: 'Argesta Display';
    font-size: 36px;
    margin-left: 1rem;
    text-transform: uppercase;
  }
}
