.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding-top: 2rem;

  .home {
    font-family: 'Argesta Display';
    font-size: 36px;
    margin-left: 1rem;
    text-transform: uppercase;
  }
}
