.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding-top: 16px;

  .home {
    font-family: 'Argesta Display';
    font-size: 36px;
    margin-left: 16px;
    text-transform: uppercase;
  }
}
