.menu {
  width: 100%;
  display: block;

  ul {
    padding-left: 16px;

    li {
      font-family: 'BNNord';
      font-size: 44px;
      list-style: none;
      text-transform: uppercase;
      line-height: 1.3;
      user-select: none;

      &:hover {
        text-decoration: underline;
      }

      &:active {
        text-decoration: underline;
      }
    }

    div {
      display: none;
    }
    .text {
      // display: none;
      text-align: justify;
      margin: 0 16px 16px 0;
      font-size: 20px;
      line-height: 32px;

      &.active {
        display: block;
      }
    }

    .works {
      margin-left: 24px;

      &.active {
        display: block;
      }
    }

    .ex {
      font-size: 16px;
      display: block;

      p {
        // display: block;
      }

      &.active {
        display: block;
      }
    }
  }
  // show content
  .active {
    display: block;
  }
}
