.menu {
  width: 100%;
  display: block;

  ul {
    padding-left: 16px;

    li {
      font-family: 'BNNord';
      font-size: 44px;
      list-style: none;
      text-transform: uppercase;
      line-height: 1.3;
      user-select: none;

      &:hover {
        text-decoration: underline;
      }

      &:active {
        text-decoration: underline;
      }
    }
  }
}
