.menu {
  margin-top: 16px;

  ul {
    padding-left: 16px;
    padding-right: 16px;

    li {
      font-family: 'BNNord';
      font-size: 44px;
      list-style: none;
      text-transform: uppercase;
      line-height: 1.3;
      user-select: none;
      cursor: pointer;
    }

    a.active {
      position: relative;
      // -o-transition: 0.5s;
      // -ms-transition: 0.5s;
      // -moz-transition: 0.5s;
      // -webkit-transition: 0.5s;
      // transition: 0.3s;
    }

    a.active:after {
      content: '';
      position: absolute;
      height: 2px;
      bottom: -2px;
      left: 0px;
      background: #272623;
      animation: underline 0.3s ease-in-out both alternate;
    }
  }
}

@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}

@media screen and (min-width: 668px) {
  .menu {
    order: -1;
    align-self: flex-start;
    padding-top: 80px;

    ul {
      display: flex;
      flex-direction: column;

      li {
        font-size: 32px;
        line-height: 1.4;
      }

      // Delete animation used for mobile devices
      a.active:after {
        animation: none;
      }

      a {
        position: relative;
      }

      a:after {
        content: '';
        position: absolute;
        height: 2px;
        bottom: -2px;
        left: 0px;
        background: #272623;
        width: 0px;

        -o-transition: 0.5s;
        -ms-transition: 0.5s;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.3s;
      }
      a:hover:after {
        width: 50px;
      }

      // Underline stays when Works menu is visible
      a.active:after {
        width: 50px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    padding-top: 0;
    margin-top: 0;
  }
}
