.menu {
  margin-top: 16px;

  ul {
    padding-left: 16px;
    padding-right: 16px;

    li {
      font-family: 'BNNord';
      font-size: 44px;
      list-style: none;
      text-transform: uppercase;
      line-height: 1.3;
      user-select: none;
      cursor: pointer;

      &.active {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (min-width: 668px) {
  .menu {
    order: -1;
    align-self: flex-start;
    padding-top: 100px;

    ul {
      display: flex;
      flex-direction: column;

      li {
        font-size: 32px;
        line-height: 1.4;
      }
    }
  }
}
