.header {
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    padding: 0 48px 16px 48px;

    li {
      text-align: center;
      min-width: 100px;
    }
  }
}
