.header {
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    padding: 0 48px 16px 48px;

    li {
      text-align: center;
      min-width: 100px;
    }
  }
}

@media only screen and (min-width: 750px) {
  .header {
    ul {
      justify-content: center;

      li {
        margin-left: 48px;
        margin-right: 48px;
      }

      a {
        position: relative;
      }

      a:before {
        content: '';
        position: absolute;
        height: 1px;
        bottom: -2px;
        right: 50%;
        background: #272623;
        width: 0px;

        -o-transition: 0.5s;
        -ms-transition: 0.5s;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.3s;
      }

      a:after {
        content: '';
        position: absolute;
        height: 1px;
        bottom: -2px;
        left: 50%;
        background: #272623;
        width: 0px;

        -o-transition: 0.5s;
        -ms-transition: 0.5s;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.3s;
      }
      a:hover:after,
      a:hover:before {
        width: 50%;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    ul {
      li {
        margin-left: 80px;
        margin-right: 80px;
      }
    }
  }
}
