.header {
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    padding: 0 48px 16px 48px;

    li {
      text-align: center;
      min-width: 100px;
    }
  }
}

@media only screen and (min-width: 750px) {
  .header {
    ul {
      justify-content: center;

      li {
        margin-left: 48px;
        margin-right: 48px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    ul {
      li {
        margin-left: 80px;
        margin-right: 80px;
      }
    }
  }
}
