.main {
  margin-bottom: 300px;

  .menu {
    display: none;
  }

  .imageContainer {
    margin-bottom: 24px;
    pointer-events: none;
  }

  .statement span {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 668px) {
  .main {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 16px;
    margin-right: 16px;

    .imageContainer {
      display: none;
    }

    .menu {
      display: flex;
      position: fixed;
    }

    .container {
      margin-left: 230px;

      p {
        font-size: 20px;
        line-height: 1.5;
      }
    }
  }
}

@media only screen and (min-width: 750px) {
  .main {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media only screen and (min-width: 900px) {
  .header {
    margin-top: 16px;
  }
  .main {
    margin-left: 24px;
    margin-right: 24px;

    .menu {
      margin-top: 8px;
      li {
        font-size: 40px;
      }
    }
    .container {
      margin-left: 280px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    margin: 16px 24px 24px 24px;
  }

  .main {
    margin-left: 32px;
    margin-right: 32px;

    .container {
      margin-left: 300px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    display: flex;
    flex-direction: row;
    max-width: 1100px;
    width: 100%;
    margin: auto auto;
    margin-bottom: 300px;

    .menu {
      padding-top: 60px;
      li {
        font-size: 54px;
      }
    }

    .container {
      display: flex;
      flex-direction: column;
      margin-left: 400px;
    }
  }
}
