.main {
  .menu {
    display: none;
  }

  .image {
    margin-bottom: 24px;
  }

  .statement span {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 668px) {
  .main {
    display: flex;

    .menu {
      display: flex;
    }

    .image {
      display: none;
    }
  }
}
