.main {
  .menu {
    display: none;
  }

  .image {
    margin-bottom: 24px;
  }

  .statement span {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 668px) {
  .main {
    display: flex;
    flex-direction: column;
    height: 100%;

    .content {
      display: flex;
      flex-direction: row;

      .menu {
        display: flex;
        position: fixed;
      }

      .container {
        margin-left: 200px;

        p {
          font-size: 20px;
          line-height: 1.5;
        }
      }
    }

    .image {
      display: none;
    }
  }
}
