.main {
  .imageContainer {
    pointer-events: none;
  }
  .menu {
    display: none;
  }
  .container {
    font-size: 18px;

    p {
      font-size: 20px;
      line-height: 1.5;
    }

    h2 {
      font-family: 'BNNord';
      margin-top: 24px;
      font-size: 24px;
    }

    h3 {
      font-weight: normal;
      font-size: 18px;
    }

    .link {
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 668px) {
  .header {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 8px;
  }
  .main {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    height: 100%;
    margin-left: 16px;
    margin-right: 16px;

    .imageContainer {
      display: none;
      // max-width: 100%;
      // margin-left: 210px;

      // div {
      //   height: 400px;
      //   img {
      //     object-fit: cover;
      //   }
      // }
    }
    .menu {
      display: flex;
      position: fixed;
      padding-top: 60px;
    }

    .container {
      margin-left: 210px;

      h2 {
        font-size: 24px;
      }

      h3 {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (min-width: 750px) {
  .header {
    margin-left: 16px;
    margin-right: 16px;
  }
  .main {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media only screen and (min-width: 900px) {
  .header {
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
  }
  .main {
    margin-left: 24px;
    margin-right: 24px;

    .menu {
      margin-top: 8px;

      li {
        font-size: 40px;
      }
    }
    .container {
      margin-left: 250px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    margin: 16px 24px 24px 24px;
  }

  .main {
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    .menu {
      padding-top: 60px;
      li {
        font-size: 54px;
      }
    }
    .container {
      margin-left: 400px;
    }
  }
}
