.main {
  .menu {
    display: none;
  }
  .container {
    font-size: 18px;

    h2 {
      font-family: 'BNNord';
      margin-top: 24px;
      font-size: 24px;
    }

    h3 {
      font-weight: normal;
      font-size: 18px;
    }

    .link {
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 668px) {
  .main {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    height: 100%;

    .imageContainer {
      display: none;
    }
    .menu {
      display: flex;
      position: fixed;
    }

    .container {
      margin-left: 200px;

      h2 {
        font-size: 24px;
      }

      h3 {
        font-size: 20px;
      }
    }
  }
}
