.contact {
  font-size: 18px;

  h2 {
    font-family: 'BNNord';
    margin-top: 24px;
    font-size: 24px;
  }

  h3 {
    font-weight: normal;
    font-size: 18px;
  }

  .link {
    cursor: pointer;
  }
}
