.main {
  .imageContainer {
    pointer-events: none;
  }
  .menu {
    display: none;
  }
  .container {
    font-size: 18px;
    margin-bottom: 300px;

    p {
      font-size: 18px;
      line-height: 1.5;
    }

    h2 {
      font-family: 'BNNord';
      margin-top: 24px;
      font-size: 24px;
    }

    h3 {
      font-weight: normal;
      font-size: 18px;
    }

    .link {
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 668px) {
  .siteWrapper {
    height: calc(100vh - 200px);
  }
  .main {
    display: flex;
    flex-direction: column;
    // height: calc(80vh - 150px);
    min-height: 100%;
    margin-left: 16px;
    margin-right: 16px;

    .imageContainer {
      display: none;
      visibility: hidden;
      opacity: 0;
      // max-width: 100%;
      // margin-left: 210px;

      // div {
      //   height: 400px;
      //   img {
      //     object-fit: cover;
      //   }
      // }
    }
    .menu {
      display: flex;
      position: fixed;
    }

    .container {
      margin-left: 230px;

      h2 {
        font-size: 24px;
      }

      h3,
      p {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (min-width: 750px) {
  .main {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media only screen and (min-width: 900px) {
  .header {
    margin-top: 16px;
    // margin-left: 24px;
    // margin-right: 24px;
  }
  .main {
    margin-left: 24px;
    margin-right: 24px;

    .menu {
      margin-top: 8px;

      li {
        font-size: 40px;
      }
    }
    .container {
      margin-left: 280px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    margin: 16px 24px 24px 24px;
  }

  .main {
    margin-left: 32px;
    margin-right: 32px;

    .container {
      margin-left: 300px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    display: flex;
    flex-direction: row;
    max-width: 1100px;
    width: 100%;
    margin: auto auto;

    .menu {
      padding-top: 60px;
      li {
        font-size: 54px;
      }
    }
    .container {
      display: flex;
      flex-direction: column;
      margin-left: 400px;
    }
  }
}
