.main {
  .imageContainer {
    margin-bottom: 24px;
  }

  .menu {
    display: none;
  }

  .container {
    margin-top: 24px;
    margin-bottom: 48px;

    .heading {
      margin-bottom: 16px;
    }

    .wrapper {
      margin-bottom: 24px;

      .entry {
        margin-top: 16px;

        ul {
          list-style: circle;
          padding-left: 32px;
          padding-right: 16px;

          p {
            margin-left: 0;
          }
        }
      }

      p {
        margin: 8px 16px 16px;

        &:last-child {
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (min-width: 668px) {
  .main {
    display: flex;
    flex-direction: column;
    height: 100%;

    .imageContainer {
      display: none;
    }

    .menu {
      display: flex;
      position: fixed;
    }

    .container {
      margin-left: 200px;

      .heading {
        font-size: 28px;
      }

      h3 {
        font-size: 24px;
      }

      li {
        font-size: 20px;
      }
    }
  }
}
