.main {
  .imageContainer {
    margin-bottom: 24px;
    pointer-events: none;
  }

  .menu {
    display: none;
  }

  .container {
    margin-top: 16px;
    margin-bottom: 48px;
    text-align: justify;

    .heading {
      margin-bottom: 16px;
    }

    .wrapper {
      margin-bottom: 24px;

      .entry {
        margin-top: 16px;

        ul {
          list-style: circle;
          padding-left: 32px;
          padding-right: 16px;
          margin-left: 4px;

          p {
            margin-left: 0;
          }
        }
      }

      p {
        margin: 8px 16px 16px;

        &:last-child {
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (min-width: 668px) {
  .header {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 8px;
  }
  .main {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 16px;
    margin-right: 16px;

    .imageContainer {
      display: none;
    }

    .menu {
      display: flex;
      position: fixed;
    }

    .container {
      margin-left: 230px;

      .heading {
        font-size: 20px;
        margin-top: 0;
      }

      h3 {
        font-size: 20px;
        font-weight: normal;
      }

      ul {
        margin-left: 8px;

        li {
          font-size: 20px;
        }
      }
    }
  }
}

@media only screen and (min-width: 750px) {
  .header {
    margin-left: 16px;
    margin-right: 16px;
  }
  .main {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media only screen and (min-width: 900px) {
  .header {
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
  }
  .main {
    margin-left: 24px;
    margin-right: 24px;

    .menu {
      margin-top: 8px;
      li {
        font-size: 40px;
      }
    }
    .container {
      margin-left: 280px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    margin: 16px 24px 24px 24px;
  }

  .main {
    margin-left: 32px;
    margin-right: 32px;

    .container {
      margin-left: 310px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    display: flex;
    flex-direction: row;
    max-width: 1100px;
    width: 100%;
    margin: auto auto;

    .menu {
      padding-top: 60px;
      li {
        font-size: 54px;
      }
    }

    .containerWrapper {
      display: flex;
      flex-direction: column;
      margin-left: 0px;
      align-self: center;
      margin-left: 80px;
    }
  }
}
