.introContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  .intro {
    position: relative;
    z-index: 50;
    width: 100vw;
    background-color: #fefefe;
  }
}

.main {
  .imageContainer {
    margin-bottom: 24px;
    pointer-events: none;
  }

  .menu {
    min-height: 400px;
  }
}

@media only screen and (min-width: 668px) {
  .header {
    margin-top: 24px;
    margin-left: 16px;
  }

  .main {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 36px;

    .imageContainer {
      margin-left: 150px;
      margin-right: 32px;
    }

    .menu {
      display: flex;
      position: absolute;
      margin-left: 16px;
      margin-top: 72px;

      li {
        font-size: 64px;
      }
      ul div a {
        font-size: 56px;
      }
    }
  }
}

@media only screen and (min-width: 750px) {
  .main {
    .menu {
      margin-top: 120px;
    }
  }
}

@media only screen and (min-width: 850px) {
  .main {
    .menu {
      margin-top: 150px;

      li {
        font-size: 70px;
      }
      ul div a {
        font-size: 64px;
      }
    }
  }
}

@media only screen and (min-width: 950px) {
  .header {
    margin-left: 40px;
  }
  .main {
    .imageContainer {
      margin-right: 48px;
    }
    .menu {
      margin-left: 40px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .siteWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;

    .header {
      width: 30%;
      position: absolute;
      margin-left: 32px;
    }

    .main {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 100%;
      margin-top: 0;
      min-height: 100vh;
      // min-height: 100vh;

      .menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: static;
        padding-top: 0;
        margin-left: 32px;
        margin-top: 280px;
        order: -1;
        max-width: 40%;
        max-height: 100%;

        li {
          font-size: 64px;
        }

        ul div a {
          font-size: 56px;
        }
      }

      .imageContainer {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        min-width: 55%;
        max-width: 70%;

        div {
          min-height: 100vh;
          height: 100%;

          img {
            object-fit: cover;
            object-position: 50% 75%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1600px) and (min-height: 900px) {
  .siteWrapper {
    .main {
      .menu {
        li {
          font-size: 60px;
        }

        ul div a {
          font-size: 54px;
        }
      }

      .imageContainer {
        div {
          max-height: 140vh;
        }
      }
    }
  }
}

@media screen and (min-width: 1600px) and (min-height: 1000px) {
  .siteWrapper {
    .main {
      .menu {
        li {
          font-size: 70px;
        }

        ul div a {
          font-size: 64px;
        }
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .siteWrapper {
    .main {
      .menu {
        margin-left: 150px;
        li {
          font-size: 80px;
        }

        ul div a {
          font-size: 72px;
        }
      }
    }
  }
}
