@font-face {
  font-family: 'Argesta Display';
  src: url('/fonts/ArgestaDisplay-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'BNNord';
  src: url('/fonts/BNNord.otf') format('opentype');
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Argesta Display', -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, serif;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin-bottom: 8px;
}

h2,
h3,
h4 {
  margin: 8px 0 8px 16px;
}

p {
  text-align: justify;
  font-size: 16px;
  line-height: 24px;
  margin: 16px;
}

span {
  font-family: 'BNNord';
}
