@font-face {
  font-family: 'Argesta Display';
  src: url('/fonts/ArgestaDisplay-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'BNNord';
  src: url('/fonts/BNNord.otf') format('opentype');
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Argesta Display', -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, serif;
  user-select: none;
}

h1 {
  font-family: 'BNNord';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
